*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

input::placeholder,
textarea::placeholder {
  line-height: 1.5;
}

a.MuiButton-root,
a.MuiIconButton-root,
a.MuiLink-root {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

a.MuiButton-root,
a.MuiIconButton-root {
  justify-content: center;
  text-decoration: none;
  vertical-align: unset;
}
